
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>Attendance Details</h2>
      <div ng-scrollbars="ng-scrollbars" ng-scrollbars-config="scrollconfig">
        <ul class="themelist">
          <div class="list-item" ng-repeat="to_view in attendance">
            <div class="row">
              <div class="col-xs">
                <p>Shift : <span class="c-theme-base">{{to_view.shift}}</span></p>
                <p>Type : <span class="c-theme-base">{{to_view.type}}</span></p>
              </div>
              <div class="col-xs">
                <p>Date : <span class="c-theme-base">{{to_view.date | date: 'yyyy MMM d'}}</span></p>
                <p>Time : <span class="c-theme-base">{{to_view.time | date: 'h:m a'}}</span></p>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>