
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h4>Employee Proile</h4>
      <h4 class="c-theme-base">{{to_view.name}}</h4>
      <div class="row middle-xs">
        <div class="col-xs">
          <p>Gender : <span class="c-theme-base">{{to_view.gender}}</span></p>
          <p>
             Designation : <span class="c-theme-base">{{to_view.designation}}</span></p>
          <p>Qualification : <span class="c-theme-base">{{to_view.qualification}}</span></p>
        </div>
        <div class="col-xs">
          <p>Experience : <span class="c-theme-base">{{to_view.experience}}</span></p>
          <p>
               Date_of_birth :  <span class="c-theme-base">{{to_view.date_of_birth | date: 'yyyy MMM d'}}</span></p>
          <p>Date_of_join :  <span class="c-theme-base"> {{to_view.date_of_join | date: 'yyyy MMM d'}}</span></p>
        </div>
      </div>
      <div ng-if="to_view.temporary_address">
        <p>Temporary_address</p>
        <p class="c-theme-base">{{to_view.temporary_address}}</p>
      </div>
      <div ng-if="to_view.permanent_address">
        <p>Permanent_address</p>
        <p class="c-theme-base">{{to_view.permanent_address}}</p>
      </div>
      <div ng-if="to_view.mobile">
        <p>Mobile</p>
        <p class="c-theme-base">{{to_view.mobile}}</p>
      </div>
      <div ng-if="to_view.loan_description">
        <p>Loan_description</p>
        <p class="c-theme-base">{{to_view.loan_description}}</p>
      </div>
      <div ng-if="to_view.document_description">
        <p>Document_description</p>
        <p class="c-theme-base">{{to_view.document_description}}</p>
      </div>
      <div ng-if="to_view.extracurriculam_description">
        <p>Extracurriculam_description</p>
        <p class="c-theme-base">{{to_view.extracurriculam_description}}</p>
      </div>
      <div ng-if="to_view.document_description">
        <p>Document_description</p>
        <p class="c-theme-base">{{to_view.document_description}}</p>
      </div>
      <div ng-if="to_view.awards_description">
        <p>Awards_description</p>
        <p class="c-theme-base">{{to_view.awards_description}}</p>
      </div>
      <div ng-if="to_view.medical_description">
        <p>Medical_description</p>
        <p class="c-theme-base">{{to_view.medical_description}}</p>
      </div>
    </div>
  </div>
</div>