
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div ng-if="to_view">
        <h2>Salary Structure</h2>
        <div ng-if="to_view.designation">
          <p>Designation</p>
          <p class="c-theme-base">{{to_view.designation}}</p>
        </div>
        <div class="row">
          <div class="col-xs">
            <p>Basic Pay : <span class="c-theme-base">{{to_view.basic_pay | currency}}</span></p>
            <p>HRA : <span class="c-theme-base">{{to_view.hra | currency}}</span></p>
            <p>Profession Tax : <span class="c-theme-base">{{to_view.professional_tax | currency}}</span></p>
          </div>
          <div class="col-xs">
            <p>Medical_allowance : <span class="c-theme-base">{{to_view.medical_allowance | currency}}</span></p>
            <p>Convayence : <span class="c-theme-base">{{to_view.convayence | currency}}</span></p>
            <p>Profit and Fund : <span class="c-theme-base">{{to_view.pf | currency}}</span></p>
          </div>
        </div>
      </div>
      <div ng-if="done && !to_view">
        <h4>Salary structure for {{employee.designation}} has not been added yet.</h4>
      </div>
    </div>
  </div>
</div>