
<div class="container-fluid home">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="card m_xl customcard">
        <div class="p+">
          <div class="row around-xs middle-xs">
            <div class="col-xs center-xs">
              <fbpic fbid="user.fbid" dimension="150"></fbpic>
            </div>
            <div class="col-xs">
              <h3>{{user.name}} </h3>
              <div class="row">
                <div class="col-xs">
                  <p class="small">Points</p>
                  <p class="large c-blue">{{user.points}}</p>
                </div>
                <div class="col-xs">       
                  <p class="small">Cash In Hand</p>
                  <p class="large c-blue">{{user.liquidcash | currency : '&#8377' : 2}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>