
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div style="padding-top:50px;"></div>
      <fbpageplugin></fbpageplugin>
    </div>
  </div>
</div>