
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>Add Gameweek</h4>
      <form name="form">
        <lx-text-field lx-label="Gameweek" lx-theme="light">
          <input type="text" name="gameweek" ng-model="input.gameweek" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.gameweek.$dirty && !form.gameweek.$valid">Enter Gameweek</span>
        <lx-select ng-model="input.selectPlayer" lx-allow-clear="true" lx-choices="players" lx-display-filter="true" lx-fixed-label="true" lx-theme="light" lx-label="Select Player">
          <lx-select-selected>{{ $selected.name }} :: {{$selected.teamname}} </lx-select-selected>
          <lx-select-choices>{{ $choice.name }} :: {{ $choice.teamname }} </lx-select-choices>
        </lx-select>
        <div ng-if="input.selectPlayer">
          <fbpic fbid="input.selectPlayer.fbid" dimension="50"></fbpic>
        </div>
        <lx-select ng-model="input.selectHasplayed" lx-allow-clear="true" lx-choices="playtypes" lx-display-filter="true" lx-fixed-label="true" lx-theme="light" lx-label="Did he play ?">
          <lx-select-selected>{{ $selected | hasplayedfilter }} </lx-select-selected>
          <lx-select-choices>{{ $choice | hasplayedfilter }} </lx-select-choices>
        </lx-select>
        <lx-text-field lx-label="Goals" lx-theme="light">
          <input type="text" name="goals" ng-model="input.goals" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.goals.$dirty && !form.goals.$valid">Enter Goals</span>
        <lx-text-field lx-label="Cleansheet" lx-theme="light">
          <input type="text" name="cleansheet" ng-model="input.cleansheet" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.cleansheet.$dirty && !form.cleansheet.$valid">Enter Cleansheet</span>
        <lx-text-field lx-label="Save" lx-theme="light">
          <input type="text" name="save" ng-model="input.save" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.save.$dirty && !form.save.$valid">Enter Save</span>
        <lx-text-field lx-label="Assist" lx-theme="light">
          <input type="text" name="assist" ng-model="input.assist" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.assist.$dirty && !form.assist.$valid">Enter Assist</span>
        <lx-text-field lx-label="Redcard" lx-theme="light">
          <input type="text" name="redcard" ng-model="input.redcard" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.redcard.$dirty && !form.redcard.$valid">Enter Redcard</span>
        <lx-text-field lx-label="Yellowcard" lx-theme="light">
          <input type="text" name="yellowcard" ng-model="input.yellowcard" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.yellowcard.$dirty && !form.yellowcard.$valid">Enter Yellowcard</span>
        <lx-text-field lx-label="Penaltysaved" lx-theme="light">
          <input type="text" name="penaltysaved" ng-model="input.penaltysaved" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.penaltysaved.$dirty && !form.penaltysaved.$valid">Enter Penaltysaved</span>
        <lx-text-field lx-label="Penaltymissed" lx-theme="light">
          <input type="text" name="penaltymissed" ng-model="input.penaltymissed" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.penaltymissed.$dirty && !form.penaltymissed.$valid">Enter Penaltymissed</span><span class="text-field-error" ng-if="errors" ng-repeat="error in errors">{{error}}</span>
        <div class="m_l">
          <loading-button class="m_t_l" handler="handler" ng-click="add()" value="Add" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria="!input.selectHasplayed || !input.selectPlayer || !form.gameweek.$valid || !form.goals.$valid || !form.cleansheet.$valid || !form.save.$valid || !form.assist.$valid || !form.redcard.$valid || !form.yellowcard.$valid || !form.penaltysaved.$valid || !form.penaltymissed.$valid"></loading-button>
        </div>
      </form>
    </div>
  </div>
</div>