
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 to_view">
      <h4>View Gameweek</h4>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Gameweek</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.gameweek}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Player Name</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.player.name}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Player ID</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.playerid}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Has Played</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.hasplayed | hasplayedfilter }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Goals</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.goals}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Cleansheet</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.cleansheet}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Save</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.save}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Assist</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.assist}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Red Card</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.redcard}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Yellow Card</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.yellowcard}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Penalty Saved</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.penaltysaved}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Penalty Missed</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.penaltymissed}}</p>
        </div>
      </div>
    </div>
  </div>
</div>