
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>Add User</h4>
      <form name="form">
        <lx-text-field lx-label="Name" lx-theme="light">
          <input type="text" name="name" ng-model="input.name" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.name.$dirty && !form.name.$valid">Enter Name</span>
        <lx-text-field lx-label="Email" lx-theme="light">
          <input type="text" name="email" ng-model="input.email" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.email.$dirty && !form.email.$valid">Enter Email</span>
        <lx-text-field lx-label="LiquidCash" lx-theme="light">
          <input type="text" name="liquidcash" ng-model="input.liquidcash" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.liquidcash.$dirty && !form.liquidcash.$valid">Enter LiquidCash</span>
        <lx-text-field lx-label="Points" lx-theme="light">
          <input type="text" name="points" ng-model="input.points" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.points.$dirty && !form.points.$valid">Enter Points</span>
        <lx-text-field lx-label="Fbid" lx-theme="light">
          <input type="text" name="fbid" ng-model="input.fbid" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.fbid.$dirty && !form.fbid.$valid">Enter Fbid</span><span class="text-field-error" ng-if="errors" ng-repeat="error in errors">{{error}}</span>
        <div class="m_l">
          <loading-button class="m_t_l" handler="handler" ng-click="add()" value="Add" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria="!form.name.$valid || !form.email.$valid || !form.liquidcash.$valid || !form.points.$valid || !form.fbid.$valid"></loading-button>
        </div>
      </form>
    </div>
  </div>
</div>