
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h4>Users</h4>
      <lx-text-field class="m_b_l" lx-label="Search (name)" lx-theme="light">
        <input type="text" name="searchterm" ng-model="input.searchterm"/>
      </lx-text-field>
      <lx-button class="m_t_l" ng-click="search()" lx-size="l" lx-type="raised" lx-color="theme">Search</lx-button>
      <lx-button class="m_t_l" ng-click="go('user.add')" lx-size="l" lx-type="raised" lx-color="theme">Add User</lx-button>
      <p>Total : {{details.total}}</p>
      <div ng-scrollbars="ng-scrollbars" ng-scrollbars-config="scrollconfig">
        <ul class="themelist">
          <div class="list-item" ng-repeat="c in results" ng-click="view(c)">
            <div class="row">
              <div class="col-xs-2">
                <fbpic fbid="c.fbid" dimension="50"></fbpic>
              </div>
              <div class="col-xs">{{c.name}}</div>
            </div>
          </div>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="division">
        <div ui-view=""></div>
      </div>
    </div>
  </div>
</div>