
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 to_view">
      <h4>View User</h4>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Name</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.name}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Email</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.price}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">LiquidCash</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.type}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Points</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.teamname}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Facebook ID</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.fbid}}</p>
        </div>
      </div>
      <div class="row center-xs">
        <div class="col-xs">
          <fbpic fbid="to_view.fbid" dimension="50"></fbpic>
        </div>
      </div>
    </div>
  </div>
</div>