
<div class="sidebar" ng-class="{'sidebar-open': isOpen}">
  <ul class="menu">
    <li class="menu-item" ng-repeat="item in menu" ng-class="{'active': $state.includes(item.parent)}">
      <a ng-click="nav(item)">
<i class="fa fa-{{item.icon}}"></i>{{ item.name }}</a>
    </li>
  </ul>
</div>
<div class="maincontainer" ng-class="{'main-sidebar-open': isOpen}">
  <div class="header"><i class="fa fa-bars menutoggleicon" ng-click="openMenu()" ng-class="{'fa-bars':!isOpen,'fa-close':isOpen}"></i>
    <h4><a href="#/home">NitcFourz Admin</a></h4>
  </div>
  <div class="viewcontainer" ui-view=""></div>
  <div class="footer">
    <div class="container-fluid">
      <div class="row center-xs">
        <div class="col-xs-12">
          <p>NitcFourz Admin.</p>
        </div>
      </div>
    </div>
  </div>
</div>