
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 col-md-offset-1 col-xs-12">
      <div class="title">
        <h1>Nitc Fourz Fantasy</h1>
        <app-progress ng-if="loading" lx-diameter="100" lx-color="white" lx-type="circular"></app-progress>
        <lx-button class="logbtn" ng-if="!loading" lx-color="white" lx-size="l" lx-type="raised" ng-click="login()">Login with Facebook</lx-button>
      </div>
    </div>
  </div>
</div>