
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h4 class="m_xl">Create your team</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="card customcard">
        <div class="p+">
          <lx-select ng-model="input.selectTeam" lx-allow-clear="true" lx-choices="teamOptions" lx-display-filter="true" lx-fixed-label="true" lx-theme="dark" lx-label="Select Team" ng-change="changeTeam();">
            <lx-select-selected>{{ $selected }} </lx-select-selected>
            <lx-select-choices>{{ $choice }} </lx-select-choices>
          </lx-select>
          <div>
            <div class="leader-card" ng-repeat="player in team" ng-class="{disable: is_taken(player) || is_disabled(player), 'card-keeper' : player.type == 2 , 'card-player' : player.type == 1}">
              <div class="row middle-xs">
                <div class="col-xs-4 col-md-3">
                  <fbpic fbid="player.fbid" dimension="70"></fbpic>
                </div>
                <div class="col-xs-4">
                  <p>{{player.name}}</p>
                  <p>{{player.price | currency : '&#8377;'}}</p>
                  <p>{{player.type | playertype}}</p>
                </div>
                <div class="col-xs-4">
                  <lx-button lx-type="raised" lx-color="red" ng-click="add(player)" ng-disabled="is_taken(player)">Add</lx-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="card customcard">
        <div class="p+">
          <h4>Your Team</h4>
          <div class="player-card" ng-repeat="player in added">
            <div>
              <fbpic fbid="player.fbid" dimension="70"></fbpic>
            </div>
            <div class="details">
              <div class="row" style="margin:0;">
                <div class="col-xs">
                  <p>{{player.name}}</p>
                </div>
              </div>
              <div class="row" style="margin:0;">
                <div class="col-xs">
                  <p>{{player.price | currency : '&#8377;'}}</p>
                </div>
                <div class="col-xs">
                  <p>{{playerTypes[player.type]}}</p>
                </div>
              </div>
            </div>
            <div class="details">           
              <div class="row" style="margin:0;">  
                <div class="col-xs">
                  <lx-button lx-type="raised" lx-color="red" ng-click="remove($index)">Remove</lx-button>
                </div>
              </div>
            </div>
          </div>
          <div class="row m_l">
            <div class="col-xs">
              <p>{{goalkeeper_count}}/1 GoalKeepers</p>
            </div>
            <div class="col-xs">
              <p>
                  {{player_count}}/4 Outfielders</p>
            </div>
          </div>
          <div class="row m_m">
            <div class="col-xs">
              <p>Total : {{ total | currency : '&#8377;'}}</p>
            </div>
            <div class="col-xs">
              <p>
                 Balance : {{ user.liquidcash - total | currency : '&#8377;'}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <loading-button class="m_t_l" handler="handler" ng-click="createTeam()" value="Create Team" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="red" lx-diameter="75" disable-criteria="!createCriteria()"></loading-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>