
<div class="container-fluid">
  <div class="row" ng-if="team" style="padding-top:20px;">
    <div class="col-md-8 col-xs-12">
      <h4>Your Team   </h4>
      <div class="pitch">
        <div class="bg"><img src="./images/pitch.png"/></div>
        <div class="goalee">
          <fbpic fbid="team.goalkeeper.fbid" dimension="60"></fbpic>
          <p> <span>{{team.goalkeeper.name}}</span></p>
        </div>
        <div class="player1">
          <fbpic fbid="team.player1.fbid" dimension="60"></fbpic>
          <p> <span>{{team.player1.name}}</span></p>
        </div>
        <div class="player2">
          <fbpic fbid="team.player2.fbid" dimension="60"></fbpic>
          <p> <span>{{team.player2.name}}</span></p>
        </div>
        <div class="player3">
          <fbpic fbid="team.player3.fbid" dimension="60"></fbpic>
          <p> <span>{{team.player3.name}}</span></p>
        </div>
      </div>
      <div class="center m_l">
        <fbpic fbid="team.sub.fbid" dimension="60"></fbpic>
        <p> <span>{{team.sub.name}}</span></p>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="card customcard" style="margin-top:50px;">
        <div class="p+">
          <p>Let others know who you're betting on.</p>
          <p>You can also shuffle/transfer players after sharing, keeping your team secret.</p>
          <div class="m_m">
            <loading-button class="m_t_l" handler="shareHandler" ng-click="share()" value="Share your team on facebook" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="red" lx-diameter="75" disable-criteria=""></loading-button>
          </div>
        </div>
      </div>
      <div class="card customcard" ng-if="isOpen">
        <div class="p+">
          <p>Team will be locked at </p>
          <h4>{{deadline | date : 'h:mm a, d MMM'}}.</h4>
        </div>
      </div>
      <div class="card customcard" ng-if="!isOpen">
        <div class="p+">
          <p>Team is locked.</p>
        </div>
      </div>
      <div class="card customcard" ng-if="isOpen">
        <div class="p+">
          <h4>Manage Team</h4>
          <div class="player-card">
            <div>
              <fbpic fbid="goalkeeper.fbid" dimension="30"></fbpic>
            </div>
            <div class="details">
              <div class="row" style="margin:0;">
                <div class="col-xs">
                  <p>{{goalkeeper.name}}    | Goal Keeper</p>
                </div>
              </div>
            </div>
          </div>
          <div class="player-card" ng-repeat="player in manager">
            <div>
              <fbpic fbid="player.fbid" dimension="30"></fbpic>
            </div>
            <div class="details">
              <div class="row" style="margin:0;">
                <div class="col-xs">
                  <p>{{player.name}}    </p>
                </div>
              </div>
              <div class="row" style="margin:0;">  
                <div class="col-xs">
                  <lbwithhandler value="Switch with Sub" fn="shuffle" player="player"></lbwithhandler>
                </div>
              </div>
            </div>
          </div>
          <div class="player-card">
            <div>
              <fbpic fbid="sub.fbid" dimension="30"></fbpic>
            </div>
            <div class="details">
              <div class="row" style="margin:0;">
                <div class="col-xs">
                  <p>{{sub.name}}    | Substitute</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>