
<div class="row middle-xs">
  <div class="col-xs" ng-if="state==0">
    <lx-button lx-size="{{lxSize}}" lx-type="{{lxType}}" lx-color="{{lxColor}}" ng-disabled="state==1 || disableCriteria">{{value}}</lx-button>
  </div>
  <div class="col-xs" ng-if="state==1">
    <app-progress lx-diameter="{{lxDiameter}}" lx-color="{{lxColor}}" lx-type="circular"/>
  </div>
</div>