
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <div class="card customcard m_xl">
        <div class="p+">
          <h3 class="m_xl">Game Rules</h3>
          <div ng-repeat="(key, value) in rules">
            <h4 class="m_l">{{key}}</h4>
            <ul class="rulelist">
              <li ng-repeat="r in value"><i class="fa fa-futbol-o"></i>{{r}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>