
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <div class="div m_l">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <lx-select ng-model="input.selectTeam" lx-allow-clear="true" lx-choices="teams" lx-display-filter="true" lx-fixed-label="true" lx-theme="dark" lx-label="Select Team" ng-change="changeTeam()">
              <lx-select-selected>{{ $selected.teamname }} </lx-select-selected>
              <lx-select-choices>{{ $choice.teamname }} </lx-select-choices>
            </lx-select>
          </div>
        </div>
      </div>
      <div class="div m_l">
        <h4>{{currentTeam.teamname}}</h4>
        <div class="leader-card clickable" ng-repeat="user in currentTeam.players" ng-click="go('players.view',{id:user.id})">
          <div class="row middle-xs">
            <div class="col-xs-3 col-md-2">
              <fbpic fbid="user.fbid" dimension="50"></fbpic>
            </div>
            <div class="col-xs-5 col-md-4">
              <p>{{user.name}} </p>
            </div>
            <div class="col-xs-4 col-md-4">
              <p class="c-red"> {{user.type | playertype}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12" ng-if="input.selectTeam">
      <div class="card customcard" style="margin-top:50px;">
        <div class="p+">
          <lx-button ng-click="share()" lx-size="l" lx-color="blue" lx-type="raised">Share this Team on Facebook   </lx-button>
        </div>
      </div>
    </div>
  </div>
</div>