
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h4 class="m_xl">Transfers</h4>
    </div>
  </div>
  <div class="row" ng-if="!isOpen">
    <div class="col-md-6 col-xs-12">
      <div class="card customcard">
        <div class="p+">
          <p>Transfer is now locked.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="isOpen&amp;&amp;!currentTeam">
    <div class="col-md-6 col-xs-12">
      <div class="card customcard">
        <div class="p+">
          <h4>You Haven't created a team yet!</h4>
          <lx-button class="m_xl" ng-click="go('team.create')" lx-color="red" lx-size="l" lx-type="raised">Create Team</lx-button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="isOpen&amp;&amp;currentTeam">
    <div class="col-md-6 col-xs-12">
      <div class="card customcard">
        <div class="p+">
          <lx-select ng-model="input.selectPlayer" lx-allow-clear="true" lx-choices="currentTeam" lx-display-filter="true" lx-fixed-label="true" lx-theme="dark" lx-label="Select the Player" ng-change="changePlayer()">
            <lx-select-selected>{{ $selected.name }} : {{$selected.teamname}} </lx-select-selected>
            <lx-select-choices>{{ $choice.name }} : {{$choice.teamname}} </lx-select-choices>
          </lx-select>
          <div ng-if="input.selectPlayer">
            <lx-select ng-model="input.selectTeam" lx-allow-clear="true" lx-choices="teamOptions" lx-display-filter="true" lx-fixed-label="true" lx-theme="dark" lx-label="Select Team" ng-change="changeTeam();">
              <lx-select-selected>{{ $selected }} </lx-select-selected>
              <lx-select-choices>{{ $choice }} </lx-select-choices>
            </lx-select>
            <div>
              <div class="player-card" ng-repeat="player in team" ng-class="{disable: is_taken(player) || is_disabled(player), 'card-keeper' : player.type == 2 , 'card-player' : player.type == 1}">
                <div> 
                  <fbpic fbid="player.fbid" dimension="100"></fbpic>
                </div>
                <div class="details">
                  <div class="row" style="margin:0;">
                    <div class="col-xs">
                      <p>{{player.name}} </p>
                    </div>
                  </div>
                  <div class="row" style="margin:0;">
                    <div class="col-xs">
                      <p>{{player.price | currency : '&#8377;'}}</p>
                    </div>
                    <div class="col-xs">
                      <p>{{ player.type | playertype }}</p>
                    </div>
                  </div>
                  <div class="row" style="margin:0;">  
                    <div class="col-xs">
                      <lbwithhandler value="Exchange" fn="exchange" player="player"></lbwithhandler>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card customcard" ng-show="input.selectPlayer">
        <div class="p+">
          <h4>Transfer Details</h4>
          <div class="row m_m">
            <div class="col-xs">
              <p>Chosen Player Price : {{ 1*input.selectPlayer.price | currency : '&#8377;'}}</p>
              <p>
                 Current Balance : {{ 1*user.liquidcash | currency : '&#8377;'}}</p>
              <p>
                 Maximum Available Amount : {{ 1*user.liquidcash + 1*input.selectPlayer.price | currency : '&#8377;'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="card customcard">
        <div class="p+">
          <p>Transfer will be locked at</p>
          <h4>{{deadline | date : 'h:mm a, d MMM'}}.</h4>
        </div>
      </div>
    </div>
  </div>
</div>