
<div class="front-page" style="position:fixed;top:0;left:0;width:100%;height:100vh;z-index:-1;">
  <div class="front"></div>
  <div class="back"></div>
  <div class="overlay"></div>
  <fadingbackgrounds></fadingbackgrounds>
</div>
<div style="text-shadow:2px 2px 3px #000;">   
  <div class="container-fluid">
    <div class="row center-xs">
      <div class="col-xs">
        <h3 class="m_xl">Nitc Fourz Fantasy</h3>
        <h2>Launching at {{launch_time | date : 'h:mm a, d MMM'}}</h2>
        <p class="m_t_l">
          Meanwhile, make sure players are listed here. 
          If not, please contact 
        </p>
        <ul style="list-style:none;">
          <li>
             Bharath (2nd Year) <a href="tel:/+919947972331"> 9947972331</a></li>
          <li>
             Rithik (3rd Year) <a href="tel:/+9182129333482">82129333482</a></li>
          <li>
             Rashid (4th Year) <a href="tel:/+919745438398">9745438398</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-xs-12">
        <h4 class="m_xl" style="margin-bottom:5px;">Players</h4>
        <lx-text-field class="m_b_l" lx-label="Search (name/team)" lx-theme="dark">
          <input type="text" name="searchterm" ng-model="input.searchterm"/>
        </lx-text-field>
        <lx-button lx-type="raised" lx-color="red" ng-click="search()">Search</lx-button>
      </div>
    </div>
    <div class="row" style="margin-top:25px;">
      <div class="col-md-6 col-md-offset-3 col-xs-12">
        <div class="leader-card" ng-repeat="player in players" style="background: rgba(0,0,0,.5);">
          <div class="row middle-xs">
            <div class="col-xs-4 col-md-2">
              <fbpic fbid="player.fbid" dimension="60"></fbpic>
            </div>
            <div class="col-xs-4 col-md-4">
              <p>{{player.name}}</p>
              <p><span class="c-red"> {{player.teamname}}</span></p>
            </div>
            <div class="col-xs-4 col-md-3">
              <div ng-if="!isDone" ng-click="player.clicked=true">
                <lbwithhandler value="This is me!" fn="claim" player="player"></lbwithhandler>
              </div>
              <div ng-if="isDone&amp;&amp;player.clicked">
                <p>Done!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>