
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>Add Team</h4>
      <form name="form">
        <lx-text-field lx-label="teamname" lx-theme="light">
          <input type="text" name="teamname" ng-model="input.teamname" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.teamname.$dirty && !form.teamname.$valid">Enter teamname</span><span class="text-field-error" ng-if="errors" ng-repeat="error in errors">{{error}}</span>
        <div class="m_l">
          <loading-button class="m_t_l" handler="handler" ng-click="add()" value="Add" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria="!form.teamname.$valid"></loading-button>
        </div>
      </form>
    </div>
  </div>
</div>