
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 to_view">
      <h4>View Team</h4>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Teamname</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.teamname}}</p>
        </div>
      </div>
      <div class="divider divider--light"></div>
      <div ng-repeat="player in players">
        <div class="row">
          <div class="col-xs">
            <p class="c-theme-base ta-right">Player ID</p>
          </div>
          <div class="col-xs">
            <p>{{player.name}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <p class="c-theme-base ta-right">Price</p>
          </div>
          <div class="col-xs">
            <p>{{player.price}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <p class="c-theme-base ta-right">Type</p>
          </div>
          <div class="col-xs">
            <p>{{player.type | playertype}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <p class="c-theme-base ta-right">Teamname</p>
          </div>
          <div class="col-xs">
            <p>{{player.teamname}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <p class="c-theme-base ta-right">Facebook ID</p>
          </div>
          <div class="col-xs">
            <p>{{player.fbid}}</p>
          </div>
        </div>
        <div class="row center-xs">
          <div class="col-xs">
            <fbpic fbid="player.fbid" dimension="50"></fbpic>
          </div>
        </div>
        <div class="divider divider--light"></div>
      </div>
    </div>
  </div>
</div>