
<form name="form">
  <div class="row">
    <div class="col-xs">
      <lx-date-picker ng-model="in.date" lx-input-format="LL" lx-color="black" lx-callback="change(true)">
        <lx-text-field lx-allow-clear="true" lx-label="Pick Date">
          <input type="text" ng-model="in.dateFormatted"/>
        </lx-text-field>
      </lx-date-picker><span class="text-field-error" ng-if="!in.date">Check either today's date or pick a date</span>
    </div>
    <div class="col-xs">
      <lx-text-field lx-label="Time" lx-theme="light">
        <input type="text" ng-change="change(true)" name="time" ng-model="in.time" required="" ng-pattern="pattern"/>
      </lx-text-field><span class="text-field-error" ng-if="form.time.$dirty && !form.time.$valid">Enter Time in 24 hour format. (eg: 15:30)</span>
    </div>
  </div>
</form>