
<div class="row middle-xs">
  <div class="col-xs" ng-if="state==0">
    <lx-button lx-size="{{lxSize}}" lx-type="{{lxType}}" lx-color="{{lxColor}}" ng-disabled="state==1 || disableCriteria">{{value}}</lx-button>
  </div>
  <div class="col-xs" ng-if="state==1">
    <app-progress lx-diameter="{{lxDiameter}}" lx-color="{{lxColor}}" lx-type="circular"/>
  </div>
  <div class="col-xs" ng-if="state==2"><i class="fa fa-check-circle tc-blue-500"></i>{{successText}}</div>
  <div class="col-xs" ng-if="state==3"><i class="fa fa-thumbs-down tc-red-500"></i>{{failText}}</div>
</div>