
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>Add Claim</h4>
      <form name="form">
        <lx-text-field lx-label="Userid" lx-theme="light">
          <input type="text" name="userid" ng-model="input.userid" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.userid.$dirty && !form.userid.$valid">Enter Userid</span>
        <lx-text-field lx-label="Playerid" lx-theme="light">
          <input type="text" name="playerid" ng-model="input.playerid" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.playerid.$dirty && !form.playerid.$valid">Enter Playerid</span><span class="text-field-error" ng-if="errors" ng-repeat="error in errors">{{error}}</span>
        <div class="m_l">
          <loading-button class="m_t_l" handler="handler" ng-click="add()" value="Add" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria="!form.userid.$valid || !form.playerid.$valid"></loading-button>
        </div>
      </form>
    </div>
  </div>
</div>