
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>View Claim</h4>
      <h4>User</h4>
      <p>{{to_view.user.name}}</p>
      <div>
        <fbpic fbid="to_view.user.fbid" dimension="70"></fbpic>
      </div><a href="http://facebook.com/{{to_view.user.fbid}}" target="_blank">View Fb Profile</a>
      <h4>Player</h4>
      <p>{{to_view.player.name}}</p>
      <div>
        <fbpic fbid="to_view.player.fbid" dimension="70"></fbpic>
      </div>
      <p>Status : {{to_view.approve == 1 ? 'Approved' : 'Unapproved'}}</p>
      <div class="m_l">   </div><span class="text-field-error" ng-if="errors" ng-repeat="error in errors">{{error}}</span>
      <loading-button class="m_t_l" handler="handler" ng-click="approve(1)" value="Approve" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria=""></loading-button>
      <h4>UnApprove</h4>
      <p class="c-red"> 
        Don't Unapprove already approved ones!. 
        Use only if somepne is approved accidently. Unapprove sets fbid on that player in players table as null.
        Unapproving a wrong claim may set an already valid palyer's fbid as null. We wouldn't want that to happen.
      </p>
      <loading-button class="m_t_l" handler="handler" ng-click="approve(0)" value="UnApprove" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria=""></loading-button>
    </div>
  </div>
</div>