
<div class="container-fluid">
  <div class="row" ng-if="isDone&amp;&amp;!detail">
    <div class="col-md-8 col-xs-12">
      <div class="m_xl">
        <h4>Points will be updated after gameweek.</h4>
      </div>
    </div>
  </div>
  <div class="row" ng-if="detail">
    <div class="col-md-8 col-xs-12">
      <div class="div m_l">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <lx-select ng-model="input.selectGameweek" lx-allow-clear="true" lx-choices="weeks" lx-display-filter="true" lx-fixed-label="true" lx-theme="dark" lx-label="Select Gameweek" ng-change="changeGameWeek()">
              <lx-select-selected> Game Week : {{ $selected.gameweek }} </lx-select-selected>
              <lx-select-choices> Game Week : {{ $choice.gameweek }} </lx-select-choices>
            </lx-select>
          </div>
        </div>
      </div>
      <pitchdiv game="game" player="player"></pitchdiv>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="leader-card">
        <h4>Total Points</h4>
        <h3>{{ total }}</h3>
      </div>
    </div>
  </div>
</div>