
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>Add Status</h4>
      <form name="form">
        <lx-text-field lx-label="Current_gw" lx-theme="light">
          <input type="text" name="current_gw" ng-model="input.current_gw" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.current_gw.$dirty && !form.current_gw.$valid">Enter Current_gw</span>
        <lx-text-field lx-label="Deadline_gw" lx-theme="light">
          <input type="text" name="deadline_gw" ng-model="input.deadline_gw" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.deadline_gw.$dirty && !form.deadline_gw.$valid">Enter Deadline_gw</span>
        <lx-text-field lx-label="Transfer_allowed" lx-theme="light">
          <input type="text" name="transfer_allowed" ng-model="input.transfer_allowed" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.transfer_allowed.$dirty && !form.transfer_allowed.$valid">Enter Transfer_allowed</span>
        <lx-text-field lx-label="Transfer_deadline" lx-theme="light">
          <input type="text" name="transfer_deadline" ng-model="input.transfer_deadline" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.transfer_deadline.$dirty && !form.transfer_deadline.$valid">Enter Transfer_deadline</span>
        <lx-text-field lx-label="Game_status" lx-theme="light">
          <input type="text" name="game_status" ng-model="input.game_status" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.game_status.$dirty && !form.game_status.$valid">Enter Game_status</span><span class="text-field-error" ng-if="errors" ng-repeat="error in errors">{{error}}</span>
        <div class="m_l">
          <loading-button class="m_t_l" handler="handler" ng-click="add()" value="Add" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria="!form.current_gw.$valid || !form.deadline_gw.$valid || !form.transfer_allowed.$valid || !form.transfer_deadline.$valid || !form.game_status.$valid"></loading-button>
        </div>
      </form>
    </div>
  </div>
</div>