
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xs-12 statuspage">
      <form name="form">
        <h4>Set App Statuses</h4>
        <p>Current Game Week : {{status.current_gw}}</p>
        <lx-text-field lx-label="Current Game Week" lx-theme="light">
          <input type="text" name="current_gw" ng-model="status.current_gw" required="true"/>
        </lx-text-field><span class="text-field-error" ng-if="form.current_gw.$dirty && !form.current_gw.$valid">Enter Current Game Week</span>
        <p>Deadline for Current Week Shuffle : {{status.deadline_gw | date : 'yyyy MMM d h:mm a'}}</p>
        <dateandtime datetime="status.deadline_gw"></dateandtime>
        <p>Transfer Allowed : {{ status.transfer_allowed | transferfilter }}</p>
        <lx-select ng-model="input.selectTransfer_allowed" lx-allow-clear="true" lx-choices="transferTypes" lx-display-filter="true" lx-fixed-label="true" lx-theme="light" lx-label="Select Transfer Allowed">
          <lx-select-selected>{{ $selected.option }} </lx-select-selected>
          <lx-select-choices>{{ $choice.option }} </lx-select-choices>
        </lx-select>
        <p>Transfer Deadline : {{status.transfer_deadline | date : 'yyyy MMM d h:mm a'}}</p>
        <dateandtime datetime="status.transfer_deadline"></dateandtime>
        <p>Game State : {{status.game_state | gamestate }}</p>
        <lx-select ng-model="input.selectGame_state" lx-allow-clear="true" lx-choices="gameStates" lx-display-filter="true" lx-fixed-label="true" lx-theme="light" lx-label="Select Game State">
          <lx-select-selected>{{ $selected.option }} </lx-select-selected>
          <lx-select-choices>{{ $choice.option }} </lx-select-choices>
        </lx-select>
        <p>Launch Time : {{status.launch_time | date : 'yyyy MMM d h:mm a'}}</p>
        <dateandtime datetime="status.launch_time"></dateandtime><span class="text-field-error" ng-if="errors" ng-repeat="error in errors">{{error}}</span>
        <div class="m_l">
          <loading-button class="m_t_l" handler="handler" ng-click="update()" value="Update" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria="!status.launch_time || !status.current_gw || !status.transfer_deadline || !input.selectTransfer_allowed || !input.selectGame_state"></loading-button>
        </div>
      </form>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="division">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs">
              <h4>AutoFill Gameweek Table</h4>
              <p>
                May need this as game progress.
                Autofills the gameweek table with all players who haven't been entered, with 0 for all details
                and will be marked as 'not played'.
              </p><span class="text-field-error" ng-if="errorsAutofill" ng-repeat="error in errorsAutofill">{{error}}</span>
              <div class="m_l">
                <loading-button class="m_t_l" handler="updatehandler3" ng-click="autoFill()" value="Auto Fill Gameweek" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria=""></loading-button>
              </div>
              <h4>Update Game User's points</h4>
              <p>
                Do this only after adding gameweek details for all players. 
                You might want to increase the current game week after updating the points.
              </p><span class="text-field-error" ng-if="errorsPH" ng-repeat="error in errorsPH">{{error}}</span>
              <div class="m_l">
                <loading-button class="m_t_l" handler="updatehandler" ng-click="updatePH()" value="Update Player Points" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria=""></loading-button>
              </div>
              <h4>Copy the freezed teams to Player history</h4>
              <p>Do this only after the shuffle deadline!.</p><span class="text-field-error" ng-if="errorsCopy" ng-repeat="error in errorsCopy">{{error}}</span>
              <div class="m_l">
                <loading-button class="m_t_l" handler="updatehandler2" ng-click="copyTemporary()" value="Freeze the Teams" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria=""></loading-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>