
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>View Status</h4>
      <p class="c-theme-base">Current_gw</p>
      <p>{{to_view.current_gw}}</p>
      <p class="c-theme-base">Deadline_gw</p>
      <p>{{to_view.deadline_gw}}</p>
      <p class="c-theme-base">Transfer_allowed</p>
      <p>{{to_view.transfer_allowed}}</p>
      <p class="c-theme-base">Transfer_deadline</p>
      <p>{{to_view.transfer_deadline}}</p>
      <p class="c-theme-base">Game_status</p>
      <p>{{to_view.game_status}}</p>
    </div>
  </div>
</div>