
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>Add Fixture</h4>
      <form name="form">
        <lx-select ng-model="input.selectTeam1" lx-allow-clear="true" lx-choices="teams" lx-display-filter="true" lx-fixed-label="true" lx-theme="light" lx-label="Select Team 1">
          <lx-select-selected>{{ $selected.teamname }} </lx-select-selected>
          <lx-select-choices>{{ $choice.teamname }} </lx-select-choices>
        </lx-select>
        <lx-select ng-model="input.selectTeam2" lx-allow-clear="true" lx-choices="teams" lx-display-filter="true" lx-fixed-label="true" lx-theme="light" lx-label="Select Team 2">
          <lx-select-selected>{{ $selected.teamname }} </lx-select-selected>
          <lx-select-choices>{{ $choice.teamname }} </lx-select-choices>
        </lx-select>
        <lx-date-picker ng-model="input.date" lx-input-format="LL" lx-color="black" lx-callback="change()">
          <lx-text-field lx-allow-clear="true" lx-label="Pick Date">
            <input type="text" ng-model="input.dateFormatted"/>
          </lx-text-field>
        </lx-date-picker><span class="text-field-error" ng-if="!input.date">Check either today's date or pick a date</span>
        <lx-text-field lx-label="Time" lx-theme="light">
          <input type="text" ng-change="setTime()" name="time" ng-model="input.time" required="" ng-pattern="pattern"/>
        </lx-text-field><span class="text-field-error" ng-if="form.time.$dirty && !form.time.$valid">Enter Time in 24 hour format. (eg: 15:30)</span>
        <p> Display Time : {{timestring | date : 'h:mm a'}}</p>
        <lx-text-field lx-label="Goals1" lx-theme="light">
          <input type="text" name="goals1" ng-model="input.goals1"/>
        </lx-text-field><span class="text-field-error" ng-if="form.goals1.$dirty && !form.goals1.$valid">Enter Goals1</span>
        <lx-text-field lx-label="Scorers1" lx-theme="light">
          <input type="text" name="scorers1" ng-model="input.scorers1"/>
        </lx-text-field><span class="text-field-error" ng-if="form.scorers1.$dirty && !form.scorers1.$valid">Enter Scorers1</span>
        <lx-text-field lx-label="Goals2" lx-theme="light">
          <input type="text" name="goals2" ng-model="input.goals2"/>
        </lx-text-field><span class="text-field-error" ng-if="form.goals2.$dirty && !form.goals2.$valid">Enter Goals2</span>
        <lx-text-field lx-label="Scorers2" lx-theme="light">
          <input type="text" name="scorers2" ng-model="input.scorers2"/>
        </lx-text-field><span class="text-field-error" ng-if="form.scorers2.$dirty && !form.scorers2.$valid">Enter Scorers2</span><span class="text-field-error" ng-if="errors" ng-repeat="error in errors">{{error}}</span>
        <div class="m_l">
          <loading-button class="m_t_l" handler="handler" ng-click="add()" value="Add" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria="!input.date || !input.selectTeam1 || !input.selectTeam2 || !form.time.$valid"></loading-button>
        </div>
      </form>
    </div>
  </div>
</div>