
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 to_view">
      <h4>View Fixture</h4>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Team 1</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.team1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Goals 1</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.goals1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Scorers 1</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.scorers1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Team 2</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.team2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Goals 2</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.goals2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Scorers 2</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.scorers2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Date</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.date | date : 'yyyy MMM d'}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Time</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.time | date : 'h:mm a'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>