
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>Add Admin</h4>
      <form name="form">
        <lx-select ng-model="input.selectFbUser" lx-allow-clear="true" lx-choices="users" lx-display-filter="true" lx-fixed-label="true" lx-theme="light" lx-label="Carefully Pick the User :P">
          <lx-select-selected>{{ $selected.name }} </lx-select-selected>
          <lx-select-choices>{{ $choice.name }} </lx-select-choices>
        </lx-select>
        <div ng-if="input.selectFbUser">
          <fbpic fbid="input.selectFbUser.fbid" dimension="50"></fbpic>
        </div><span class="text-field-error" ng-if="errors" ng-repeat="error in errors">{{error}}</span>
        <div class="m_l">
          <loading-button class="m_t_l" handler="handler" ng-click="add()" value="Add" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria="!input.selectFbUser"></loading-button>
        </div>
      </form>
    </div>
  </div>
</div>