
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>Edit Admin</h4>
      <p>{{to_edit.user.name}}</p>
      <fbpic fbid="to_edit.fbid" dimension="50"></fbpic>
      <div class="divider divider--light m_t_l"></div><span class="text-field-error" ng-if="deleteErrors" ng-repeat="error in deleteErrors">{{error}}</span>
      <div class="m_l">
        <loading-button class="m_t_l" handler="deleteHandler" ng-click="delete()" value="Delete" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria="false"></loading-button>
      </div>
    </div>
  </div>
</div>