
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>View Admin</h4>
      <p class="c-theme-base">fbid</p>
      <p>{{to_view.fbid}}</p>
    </div>
  </div>
</div>