
<div style="position:relative;">
  <div style="position:absolute;width:100%;max-width:500px;text-align:center;">
    <app-progress lx-diameter="100" lx-color="white" lx-type="circular"></app-progress>
  </div>
  <div class="fb-page" data-href="https://www.facebook.com/4znitc/" data-width="500" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <blockquote class="fb-xfbml-parse-ignore" cite="https://www.facebook.com/4znitc/"><a href="https://www.facebook.com/4znitc/">Fourz Nitc</a></blockquote>
  </div>
</div>