
<div class="row middle-xs">
  <div class="col-xs" ng-if="state==0">
    <lx-button ng-click="click();" lx-size="s" lx-type="raised" lx-color="red" ng-disabled="state==1">{{value}}</lx-button>
  </div>
  <div class="col-xs" ng-if="state==1">
    <div style="position:relative;width:50px;height:50px;">
      <app-progress style="position:absolute;top:-25px;left:-25px;" lx-diameter="50" lx-color="red" lx-type="circular"/>
    </div>
  </div>
</div>