
<div class="pitch">
  <div class="bg"><img src="./images/pitch.png"/></div>
  <div class="goalee">
    <fbpic fbid="game[player.goalkeeper].fbid" dimension="60"></fbpic>
    <p> <span>{{game[player.goalkeeper].player.name}}</span></p>
    <p> <span>{{game[player.goalkeeper].total}}</span></p>
  </div>
  <div class="player1">
    <fbpic fbid="game[player.player1].fbid" dimension="60"></fbpic>
    <p> <span>{{game[player.player1].player.name}}</span></p>
    <p> <span>{{game[player.player1].total}}</span></p>
  </div>
  <div class="player2">
    <fbpic fbid="game[player.player2].fbid" dimension="60"></fbpic>
    <p> <span>{{game[player.player2].player.name}}</span></p>
    <p> <span>{{game[player.player2].total}}</span></p>
  </div>
  <div class="player3">
    <fbpic fbid="game[player.player3].fbid" dimension="60"></fbpic>
    <p> <span>{{game[player.player3].player.name}}</span></p>
    <p> <span>{{game[player.player3].total}}</span></p>
  </div>
</div>
<div class="center m_l">
  <fbpic fbid="game[player.sub].fbid" dimension="60"></fbpic>
  <p> <span>{{game[player.sub].player.name}}</span></p>
  <p> <span>{{game[player.sub].total}}</span></p>
</div>