
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>Edit Player</h4>
      <form name="form">
        <lx-text-field lx-label="Name" lx-theme="light">
          <input type="text" name="name" ng-model="input.name" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.name.$dirty && !form.name.$valid">Enter Name</span>
        <lx-text-field lx-label="Price" lx-theme="light">
          <input type="text" name="price" ng-model="input.price" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.price.$dirty && !form.price.$valid">Enter Price</span>
        <lx-select ng-model="input.selectType" lx-allow-clear="true" lx-choices="type" lx-display-filter="true" lx-fixed-label="true" lx-theme="light" lx-label="Select Type">
          <lx-select-selected>{{ $selected.option }} </lx-select-selected>
          <lx-select-choices>{{ $choice.option }} </lx-select-choices>
        </lx-select>
        <lx-select ng-model="input.selectTeam" lx-allow-clear="true" lx-choices="teams" lx-display-filter="true" lx-fixed-label="true" lx-theme="light" lx-label="Select Team">
          <lx-select-selected>{{ $selected.teamname }} </lx-select-selected>
          <lx-select-choices>{{ $choice.teamname }} </lx-select-choices>
        </lx-select>
        <lx-select ng-model="input.selectFbUser" lx-allow-clear="true" lx-choices="users" lx-display-filter="true" lx-fixed-label="true" lx-theme="light" lx-label="Associate User">
          <lx-select-selected>{{ $selected.name }} </lx-select-selected>
          <lx-select-choices>{{ $choice.name }} </lx-select-choices>
        </lx-select>
        <div ng-if="input.selectFbUser">
          <fbpic fbid="input.selectFbUser.fbid" dimension="50"></fbpic>
        </div><span class="text-field-error" ng-if="errors" ng-repeat="error in errors">{{error}}</span>
        <loading-button class="m_t_l" handler="handler" ng-click="save()" value="Save" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria="!form.name.$valid || !form.price.$valid || !input.selectType || !input.selectTeam"></loading-button>
        <div class="divider divider--light m_t_l"></div><span class="text-field-error" ng-if="deleteErrors" ng-repeat="error in deleteErrors">{{error}}</span>
        <div class="m_l">
          <loading-button class="m_t_l" handler="deleteHandler" ng-click="delete()" value="Delete" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria="false"></loading-button>
        </div>
      </form>
    </div>
  </div>
</div>