
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h4 class="m_xl" style="margin-bottom:5px;">Players</h4>
      <lx-text-field class="m_b_l" lx-label="Search (name/team)" lx-theme="dark">
        <input type="text" name="searchterm" ng-model="input.searchterm"/>
      </lx-text-field>
      <lx-button lx-type="raised" lx-color="red" ng-click="search()">Search</lx-button>
    </div>
  </div>
  <div class="row" style="margin-top:25px;">
    <div class="col-md-10 col-xs-12">
      <div class="leader-card clickable" ng-repeat="player in players" ng-click="view(player)">
        <div class="row middle-xs">
          <div class="col-xs-4 col-md-2">
            <fbpic fbid="player.fbid" dimension="60"></fbpic>
          </div>
          <div class="col-xs-4 col-md-4">
            <p>{{player.name}}</p>
            <p><span class="c-red"> {{player.teamname}}</span></p>
          </div>
          <div class="col-xs-4 col-md-3">
            <p>Price</p>
            <p><span class="c-blue"> {{player.price | currency : '&#8377;'}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>