
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <div class="leader-card" ng-if="player">
        <div class="row middle-xs">
          <div class="col-xs-4">
            <fbpic fbid="player.fbid" dimension="80"></fbpic>
          </div>
          <div class="col-xs-8">
            <div class="row">
              <div class="col-xs">
                <h4>   {{player.name}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs">
                <p>{{player.price | currency : '&#8377;'}}</p>
              </div>
              <div class="col-xs">
                <p>{{player.type | playertype}}</p>
              </div>
              <div class="col-xs">
                <p>
                   Total Points : {{player.total}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-xs-12" ng-if="details.length&gt;0">
      <h3 class="m_l">Points</h3>
      <div class="leader-card" ng-repeat="d in details">
        <div class="row middle-xs center-xs">
          <div class="col-xs-3">
            <p>GW : {{d.gameweek}}</p>
          </div>
          <div class="col-xs-9">
            <div class="row" style="padding-top:5px;padding-bottom:5px;">
              <div class="col-xs-4">
                <p class="sub">Goals </p>
                <p class="super c-red">{{d.goals}}</p>
              </div>
              <div class="col-xs-4">
                <p class="sub">Cleansheet</p>
                <p class="super c-red">{{d.cleansheet}}</p>
              </div>
              <div class="col-xs-4">
                <p class="sub">Save</p>
                <p class="super c-red">{{d.save}}</p>
              </div>
            </div>
            <div class="row" style="padding-top:5px;padding-bottom:5px;">
              <div class="col-xs-4">
                <p class="sub">Assist </p>
                <p class="super c-red">{{d.assist}}</p>
              </div>
              <div class="col-xs-4">
                <p class="sub">Redcard</p>
                <p class="super c-red">{{d.redcard}}</p>
              </div>
              <div class="col-xs-4">
                <p class="sub">Yellowcard</p>
                <p class="super c-red">{{d.yellowcard}}</p>
              </div>
            </div>
            <div class="row" style="padding-top:5px;padding-bottom:5px;">
              <div class="col-xs-4">
                <p class="sub">Penalty Saved</p>
                <p class="super c-red">{{d.penaltysaved}}</p>
              </div>
              <div class="col-xs-4">
                <p class="sub">Penalty Missed</p>
                <p class="super c-red">{{d.penaltymissed}}</p>
              </div>
              <div class="col-xs-4">
                <p class="sub">Total Points</p>
                <p class="super c-red">{{d.total}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>