
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div ng-if="days.length&gt;0">
        <h4 class="m_xl" style="margin-bottom:5px;">Fixtures</h4>
        <lx-select ng-model="input.selectDate" lx-allow-clear="true" lx-choices="days" lx-display-filter="true" lx-fixed-label="true" lx-theme="dark" lx-label="Select Date" ng-change="getFixture()">
          <lx-select-selected>{{ $selected.date | date : 'yyyy MMM d'}} </lx-select-selected>
          <lx-select-choices>{{ $choice.date | date : 'yyyy MMM d' }} </lx-select-choices>
        </lx-select>
      </div>
      <div ng-if="days.length==0">
        <h4 class="m_xl">Fixtures will be updated soon.</h4>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:25px;">
    <div class="col-md-10 col-xs-12">
      <div class="leader-card" ng-repeat="f in current" ng-click="toggle(f)" ng-class="{'clickable' : f.goals1!=null}">
        <div class="row">
          <div class="col-xs-4 col-md-5">
            <p class="c-red ta-right">{{f.team1}}</p>
          </div>
          <div class="col-xs-4 col-md-2">
            <p class="center" ng-show="f.goals1!=null">{{ f.goals1 }} - {{ f.goals2 }}</p>
            <p class="center" ng-show="f.goals1==null">{{ f.time | date: 'h:mm a'}}</p>
          </div>
          <div class="col-xs-4 col-md-5">
            <p class="c-red">{{f.team2}}</p>
          </div>
        </div>
        <div class="row" ng-show="f.show">
          <div class="col-xs-4 col-md-5">
            <p class="ta-right">{{f.scorers1}}   </p>
          </div>
          <div class="col-xs-4 col-md-2">
            <p class="center">Scorers </p>
          </div>
          <div class="col-xs-4 col-md-5">
            <p> {{f.scorers2}}   </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>