
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h4 class="m_xl">Leaderboard</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-xs-12">
      <div class="leader-card clickable" ng-repeat="user in users" ng-click="showUser(user)">
        <div class="row middle-xs">
          <div class="col-xs-1 col-md-1">
            <h4 class="c-red center">{{$index+1}}</h4>
          </div>
          <div class="col-xs-3 col-md-2">
            <fbpic fbid="user.fbid" dimension="60"></fbpic>
          </div>
          <div class="col-xs-4 col-md-3">
            <p>{{user.name}}</p>
          </div>
          <div class="col-xs-4 col-md-3">
            <p>Points :<span class="c-red"> {{user.points}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>