
<div class="container-fluid">
  <div class="row" ng-if="weeks.length==0">
    <div class="col-md-8 col-xs-12">
      <div class="m_xl">
        <h4>Points will be updated after gameweek.</h4>
      </div>
    </div>
  </div>
  <div class="row" ng-if="weeks&amp;&amp;weeks.length&gt;0">
    <div class="col-md-8 col-xs-12">
      <div class="div m_l">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <lx-select ng-model="input.selectGameweek" lx-allow-clear="true" lx-choices="weeks" lx-display-filter="true" lx-fixed-label="true" lx-theme="dark" lx-label="Select Gameweek" ng-change="changeGameWeek()">
              <lx-select-selected> Game Week : {{ $selected.gameweek }} </lx-select-selected>
              <lx-select-choices> Game Week : {{ $choice.gameweek }} </lx-select-choices>
            </lx-select>
          </div>
        </div>
      </div>
      <div ng-if="isDone&amp;&amp;isError">
        <div class="col-md-8 col-xs-12">
          <div class="m_xl">
            <h4>{{ isYou ? 'You' : toshow.name }} didn't play this week.</h4>
          </div>
        </div>
      </div>
      <div ng-if="isDone&amp;&amp;!isError">
        <pitchdiv game="game" player="player"></pitchdiv>
      </div>
    </div>
    <div class="col-md-4 col-xs-12" ng-if="toshow">
      <div class="leader-card">
        <h4>{{toshow.name}}'s Team</h4>
      </div>
      <div class="leader-card" ng-if="player">
        <h4>Total Points</h4>
        <h3>{{ player.total }}</h3>
      </div>
    </div>
  </div>
</div>